.item {
  width: 308px;
  height: 75px;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 5px 0.1px black;
  margin-bottom: 10px;
  margin-top: 10px;
}

.status {
  width: 20px;
  height: 20px;
  display: flex;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

.statusGreen {
  composes: status;
  background-color: green;
}

.statusRed {
  composes: status;
  background-color: red;
}

.avatar {
  width: 65px;
  height: 65px;
  border-radius: 5px;
  margin-right: 10px;
}

.name {
  font-size: 30px;
  font-weight: bold;
}
