.transactionHistory {
  width: 750px;
  height: 100%;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

th {
  color: white;
  background-color: rgb(0, 174, 255);
  height: 40px;
  text-transform: uppercase;
  border-radius: 5px;
}

td {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(190, 190, 190);
}

tr:nth-child(even) {
  background-color: rgb(190, 190, 190);
  border-radius: 5px;
}
